body {
    background-color: #9ab0f9;  /* Background colour for entire page */
    color: #0a0f2d;
    font-family: Arial, Helvetica, sans-serif;
}

.login-centre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}