<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Admin Dashboard</h1>

    <p>Welcome, {{ session['username'] }}</p>

    <a href="{{ url_for('create_staff_acc') }}">Create Staff Account</a>

    <h2>These are all of the accounts</h2>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Role</th>
            <th>Delete Accounts</th>
            <th>Reset a password</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>
                <form method="POST" action="{{ url_for('delete_account_admin', user_id=user.id) }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <form method="POST" action="{{ url_for('reset_password_admin', user_id=user.id) }}">
                    <input type="password" name="new_pass" placeholder="New password" required>
                    <button type="submit">Reset</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2>Password Change Requests</h2>

    {% if requests %}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>New Password</th>
            <th>Action</th>
        </tr>

        {% for user in requests %}
        <tr>
            <td>{{ user['id'] }}</td>
            <td>{{ user['name'] }}</td>
            <td>{{ user['username'] }}</td>
            <td>
                <form method="POST" action="{{ url_for('reset_password_admin', user_id=user['id']) }}">
                    <input type="password" name="new_pass" placeholder="New password" required>
            </td>
            <td>
                    <button type="submit">Reset Password</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No password change requests right now.</p>
    {% endif %}

    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>