<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Admin Dashboard</h1>

    <p>Welcome, {{ session['username'] }}</p>

    <h2>These are all of the accounts</h2>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Role</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>