<html>
    <head>
    <title>Create IT Staff Account</title>

    </head>
    <body>
    <H1> Welcome Admin </H1>
    <h1> Create IT Staff Account </h1>

    <form method="POST">
        <label>Name:</label>
        <input type="text" name="name" required>

        <label>Username:</label>
        <input type="text" name="username" required>

        <label>Password:</label>
        <input type="password" name="password" required>

        <button type="submit">Create Account</button>
    </form>
    </body>
</html>