<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login Page</h1>
        <br>
        <h2> Welcome to IT Ticket manager - by Anshum </h2>
        <br>
        <form method="POST">
            <label>Username:</label>
            <input type="text" name="username" required>
            <br><br>
            <label>Password:</label>
            <input type="password" name="password" required>
            <br><br>
            <button tyope="submit">Login
            </button>
        </form>

        <p> If you don't have an account, pls register here. <a href="{{ url_for('register') }}">Register here</a></p>
    </body>
</html>